@import url('https://fonts.cdnfonts.com/css/archia');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --body-font: 'Archia', sans-serif;
    --second-font: 'Noto Sans', sans-serif;
    --footer-font: 'Raleway', sans-serif;
    --footer-desktop-font: "DM Sans", sans-serif;
    --bg-body: #EFEFEF;
    --mark-color: #98D7D2;
    --bg-details: #1A1A1A;
    --font-color: #191919;
    --estimate-price: #F5F5F5;
    --white: #fff;
    --gray-details: #ccc;
    --bg-icon: #1F1F1F;
    --icons: #F5F5F5;
    --blue: #5DC1B9;
    --gray-icon: #A6A6A6;
    --bg-project: #212121;
    --font-color80: rgba(0, 0, 0, 0.8);
    --white-80: rgba(255, 255, 255, 0.8);
    --white-60: rgba(255, 255, 255, 0.6);
    --black-70: (0, 0, 0, 0.7);
    --bg-footer: #0F0F0F;
    --border-bottom: #454545;
    --white-50: rgba(255, 255, 255, 0.5):
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body-font);
    background-color: var(--bg-body);
    color: var(--font-color);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 4rem 1.5rem 0;
    align-items: center;
}

nav {
    display: none;
}

.logo {
    display: flex;
    gap: 1rem;
    max-width: 10%;
    align-items: center;
}

.logo img {
    width: 36px;
    height: 36px;
}

.logo h1 {
    font-size: 1rem;
    font-weight: 600;
}

.main-menu img {
    width: 36px;
    height: 36px;
}

.home-page {
    padding: 5rem 0 0;
}

.realize-your-dreams h2 {
    font-size: 1.7rem;
    padding: 0 1.5rem;
}

.realize-your-dreams p {
    font-size: 0.8rem;
    font-family: var(--second-font);
    margin-top: 1.5rem;
    max-width: 85%;
    padding: 0 1.5rem;
    color: var(--font-color80);
}

.mark {
    position: relative;
    display: inline-block;
}

.mark:before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 40%;
    background-color: var(--mark-color);
    bottom: 0;
    width: 100%;
}

.get-in {
    display: flex;
    gap: 1.8rem;
    align-items: center;
    margin-top: 2.5rem;
    padding: 0 1.5rem;
}

.get-in a {
    font-size: 0.7rem;
    font-weight: 400;
    background-color: var(--bg-details);
    color: var(--bg-body);
    padding: 1rem 1.5rem;
    font-family: var(--second-font);
}

.drop-line {
    display: flex;
    align-items: center;
}

.drop-line img {
    width: 40px;
    height: 40px;
}

.drop-line p {
    background-color: var(--bg-body);
    font-size: 0.7rem;
    margin-left: -0.2rem;
    font-weight: 590;
    padding: 0.5rem 0;
}

.build {
    margin-top: 3rem;
}

.build img {
    width: 100%;
}

.estimate-price {
    background-color: var(--estimate-price);
    margin: 2rem 0rem;
    padding: 1.5rem 1.5rem 3.5rem;
    font-family: var(--second-font);
    position: absolute;
    width: 90%;
    left: 5%;
    right: 5%;
    box-sizing: border-box;
}

.estimate-price img {
    width: 40px;
    height: 40px;
}

.estimation {
    display: block;
    text-align: center;
    margin-top: 3rem;
}

.estimation a {
    background-color: var(--font-color);
    color: var(--white);
    font-size: 0.9rem;
    padding: 1rem 2rem;
}

.price h2 {
    font-weight: 600;
    font-size: 1.3rem;
    font-family: var(--body-font);
}

.price p {
    font-size: 0.75rem;
    margin-top: 1rem;
    color: var(--font-color80);
}

.labels {
    margin-top: 2rem;
}

.label-choice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--gray-details);
}

.label-choice h3 {
    font-weight: 500;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.4);
}

.our-services {
    background-color: var(--font-color);
    color: var(--white);
    text-align: center;
    padding: 21rem 2rem 4rem;
    margin-top: 16.5rem;
}

.services h2 {
    font-size: 1.7rem;
    font-weight: 500;
}

.services p {
    font-size: 0.8rem;
    font-weight: 300;
    font-family: var(--second-font);
    margin-top: 0.8rem;
    padding: 0 1rem;
    color: var(--white-80);
}

.get-in-touch {
    display: none;
}

.architecture {
    margin-top: 1.5rem;
}

.sparkle {
    margin-top: 1.5rem;
}

.paint-roller {
    margin-top: 1.5rem;
}

.architecture {
    margin-top: 1.5rem;
}

.background-bank {
    background-color: var(--bg-icon);
    margin: 1rem 0 1.5rem;
    padding: 50px;
    display: inline-block;
}

.background-bank img {
    width: 61px;
    height: 61px;
}

.architectural-design p {
    font-size: 0.72rem;
    font-weight: 300;
    font-family: var(--second-font);
    margin-top: 0.5rem;
    color: rgb(255, 255, 255, 0.7);
}

.architectural-design h3 {
    font-family: var(--second-font);
    font-weight: 400;
}

.architectural-design .drop-line {
    display: none;
}

.our-workflow {
    padding: 4rem 1.5rem 0;
}

#h2-mobile {
    text-align: center;
}

#h2-desktop {
    display: none;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.bg-icon img {
    height: 21px;
    width: 21px;
    background-color: var(--icons);
    padding: 0.9rem;
    border-radius: 1.5rem;
}

.briefing {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    background-color: var(--icons);
    padding: 0.6rem 1rem 0.6rem 0.5rem;
    border-radius: 1.5rem;
}

.briefing img {
    background-color: var(--font-color);
    padding: 0.5rem;
    border-radius: 1.5rem;
    height: 15px;
    width: 15px;
}

.briefing h3 {
    font-size: 1rem;
}

.explaining {
    margin-top: 3rem;
}

.explaining-what-you-need {
    display: flex;
    gap: 1rem;
    align-items: center;
    max-width: 83%;
}

.explaining-what-you-need h2 {
    font-size: 1.5rem;
}

.explaining p {
    font-family: var(--second-font);
    font-size: 0.84rem;
    margin-top: 1.5rem;
    color: var(--font-color80);
}

.explaining-what-you-need img {
    width: 64px;
    height: 64px;
}

.man-and-woman img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 2rem;
}

.our-impacts {
    text-align: center;
}

.impacts {
    padding: 4.5rem 2rem 3rem;
}

.our-impacts h2 {
    font-size: 1.6rem;
    padding: 0 3rem;
}

.our-impacts p {
    font-family: var(--second-font);
    font-size: 0.75rem;
    margin-top: 1rem;
    color: var(--font-color80);
}

.impacts .get-in {
    display: none;
}

.numbers {
    margin-top: 2rem;
}

.numbers-description {
    display: flex;
    border-bottom: 1px solid #E0E0E0;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    padding: 1.2rem 0.3rem;
}

.numbers-description-bd {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    padding: 1.2rem 0.3rem;
}

.numbers-description p {
    font-family: var(--second-font);
    font-size: 0.72rem;
    max-width: 68%;
    color: var(--black-70);
}

.numbers-description-bd p {
    font-family: var(--second-font);
    font-size: 0.72rem;
    max-width: 68%;
    color: var(--black-70);
}

.heading h3 {
    font-family: var(--second-font);
    font-size: 1.4rem;
    font-weight: 700;
}

.heading h4 {
    font-weight: 700;
    font-size: 0.9rem;
    margin-top: 0.4rem;
}

.blue {
    color: var(--blue);
}

.works {
    margin: 2rem 0;
}

.old-works {
    background-color: var(--font-color);
    color: var(--white);
    padding: 3rem 1.5rem 3rem;
}

.project-date img {
    width: 22px;
    height: 22px;
}

.old-works .get-in a {
    background-color: var(--white);
    color: var(--font-color);
    font-weight: 700;
}

.old-works .get-in {
    justify-content: center;
}

.old-works .drop-line p {
    background-color: var(--bg-icon);
}

#p-desktop {
    display: none;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: var(--bg-icon);
    margin-top: 0.5rem;
    padding: 1.2rem;
    color: var(--gray-icon);
}

.project p {
    color: rgba(255, 255, 255, 0.4);
}

.latest-work {
    text-align: center;
}

.latest-work h2 {
    font-size: 1.6rem;
    font-weight: 600;
}

.latest-work p {
    font-family: var(--second-font);
    font-size: 0.8rem;
    margin: 1rem 0;
    padding: 0 1.3rem;
    font-weight: 300;
    color: var(--white-80);
}

.project-date {
    text-align: right;
}

.project-description h3 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white-60);
}

.project-description p {
    font-family: var(--second-font);
    font-size: 0.75rem;
    font-weight: 300;
}

.project-date p {
    font-size: 0.7rem;
    font-family: var(--second-font);
}

.financial-size {
    padding: 4rem 0 0;
}

.financial-info {
    margin-top: 3rem;
}

.financial-info p {
    font-family: var(--second-font);
    font-size: 0.74rem;
    margin-top: 1rem;
}

.financial-size h2 {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    padding: 0 1.5rem;
}

.financial-size .get-in {
    display: none;
}

.financial-topics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    padding: 0 2rem;
}

.financial-desc {
    background-color: var(--estimate-price);
    margin: 0 1.5rem;
    padding: 0.5rem;
    margin-top: 1.5rem;
}

.financial-desc p {
    max-width: 98%;
}

.financial-personal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.financial-personal img {
    width: 24px;
    height: 24px;
}

.financial-topics img {
    width: 24px;
    height: 24px;
}

.home-design {
    margin-top: 2rem;
    text-align: center;
    padding: 0 2rem;
}

.home-design img {
    height: 399;
    width: 100%;
}

.news {
    padding: 4rem 1.5rem 0;
}

.browse {
    text-align: center;
}

.browse h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.browse p {
    color: var(--black-70);
    font-size: 0.8rem;
    font-family: var(--second-font);
    margin-top: 1rem;
}

.see-all {
    text-align: center;
    margin-top: 3rem;
}

.see-all a {
    background-color: var(--font-color);
    color: var(--bg-body);
    padding: 0.7rem 1.5rem;
    font-family: var(--second-font);
    font-size: 0.8rem;
    font-weight: 400;
}

.main-articles {
    margin-top: 1.3rem;
}

.card p {
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.64);
    margin-top: 0.5rem;
    font-weight: 500;
}

.card h3 {
    margin: 0.9rem 0 1.2rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.card a {
    font-size: 0.7rem;
    font-weight: 600;
    border-bottom: 1px solid var(--font-color);
}

.card img {
    height: 100%;
    width: 100%;
    margin-top: 1.8rem;
}

.costumer {
    margin-top: 3rem;
    padding: 3rem 1.5rem 2.5rem;
    background-color: var(--font-color);
    color: var(--white);
}

.costumer-say {
    text-align: center;
}

.costumer-say h2 {
    font-weight: 550;
    margin-bottom: 3rem;
    padding: 0 3rem;
}

.costumer-say a {
    background-color: var(--bg-body);
    color: var(--font-color);
    font-family: var(--second-font);
    padding: 0.7rem 1.1rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.costumer-photo {
    text-align: center;
    margin-top: 3rem;
}

.costumer-photo img {
    width: 100%;
    height: 100%;
}

.feedback-description h3 {
    font-size: 1rem;
    font-weight: 500;
}

.feedback-description p {
    font-size: 0.75rem;
    font-family: var(--second-font);
    color: rgb(255, 255, 255, 0.7);
    margin: 1rem 0 1.5rem;
    font-weight: 300;
}

.feedback-description {
    border-bottom: 1px solid #242424;
}

.changi img {
    width: 88px;
    height: 24px;
    margin: 1.5rem 0;
}

.costumer-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.arrow-icons img {
    width: 42px;
    height: 42px;
}

.arrow-icons {
    display: flex;
    gap: 0.5rem;
}

.realize-your-build {
    display: none;
}

.about-costumer h3 {
    font-weight: 500;
    font-size: 1.3rem;
}

.about-costumer p {
    font-size: 0.7rem;
    font-family: var(--second-font);
    color: var(--white-60);
    font-weight: 300;
    margin-top: 0.3rem;
}

.submit-email img {
    width: 50px;
    height: 50px;
}

.contacts-desktop {
    display: none;
}

footer {
    padding: 5rem 1.5rem 4rem;
    background-color: var(--bg-footer);
    color: var(--white);
}

.top-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo-footer {
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 20%;
}

.logo-footer img {
    height: 49px;
    width: 49px;
}

.logo-footer p {
    font-size: 1rem;
}

.get-started a {
    background-color: var(--bg-body);
    color: var(--font-color);
    font-size: 0.8rem;
    font-weight: 700;
    padding: 1rem 1.5rem;
}

.get-started p {
    display: none;
}

.subscribe {
    padding-right: 2rem;
    margin-top: 4rem;
}

.subscribe h3 {
    font-weight: 300;
    font-size: 1.2rem;
    padding-right: 7rem;
}

.submit-email {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-bottom);
}


.email p {
    font-size: 0.9rem;
    font-weight: 200;
    color: var(--white-50);
}

.contacts-mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
    padding-right: 2rem;
    font-family: var(--footer-font);
}

.services h3 {
    font-size: 1rem;
    color: var(--white-50);
    font-weight: 600;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.services ul {
    list-style-type: none;
}

.services li {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.social-medias {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding-right: 2rem
}

.social-medias img {
    width: 24px;
    height: 24px;
    margin-bottom: 1.5rem;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1rem;
    border-radius: 2rem;
}

.site {
    display: flex;
    gap: 1.5rem;
}

.site p {
    border-bottom: 1px solid;
    font-size: 0.9rem;
}

.license-mobile {
    margin-top: 3rem;
    font-family: var(--footer-font);
}

.license-mobile p {
    margin-top: 1.5rem;
    font-weight: 500;
}

.license-social {
    display: none;
}

@media (min-width: 1024px) {
    header {
        padding: 2rem 5.5rem 0;
    }

    .main-menu {
        display: none;
    }

    nav {
        display: flex;
        align-items: center;
        gap: 2rem;
        font-family: var(--second-font);
        max-width: fit-content;
    }

    nav ul {
        display: flex;
        list-style-type: none;
        gap: 2rem;
    }

    nav li {
        font-size: 1rem;
    }

    .explore {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .explore p {
        font-size: 1rem;
        border-left: 1px solid var(--gray-details);
        padding-left: 2rem;
    }

    .explore a {
        font-size: 1rem;
        background-color: #0F0800;
        color: var(--white);
        padding: 1rem 1.5rem;
    }

    .logo img {
        width: 49px;
        height: 49px;
    }

    .logo h1 {
        font-size: 1.1rem;
    }

    .home-page {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        padding: 3rem 5.5rem 0;
    }

    .about {
        max-width: 50%;
        margin-top: 5.5rem;
    }

    .realize-your-dreams h2 {
        font-size: 3.4rem;
        padding: 0 0;
    }

    .realize-your-dreams p {
        font-size: 1.1rem;
        font-family: var(--second-font);
        margin-top: 1.5rem;
        max-width: 60%;
        padding: 0 0;
    }

    .get-in {
        padding: 0 0;
    }

    .get-in a {
        font-size: 1rem;
        padding: 1rem 1.5rem;
    }

    .drop-line img {
        width: 56px;
        height: 56px;
    }

    .drop-line p {
        font-size: 1rem;
        padding: 0.5rem 0;
    }

    .build {
        margin-top: 0;
    }

    .build img {
        height: 662px;
    }

    .labels {
        display: flex;
        gap: 2rem;
        align-items: center;
        margin-top: 2rem;
    }

    .label-choice {
        gap: 5rem;
        margin-bottom: 0;
    }

    .label-choice h3 {
        font-size: 1rem;
    }

    .estimate-price {
        margin: 4rem 0;
        padding: 3rem;
        position: absolute;
        width: 90%;
        left: 5%;
        right: 5%;
        box-sizing: border-box;
    }

    .price h2 {
        font-size: 1.9rem;
    }

    .price p {
        font-size: 1rem;
        margin-top: 1rem;
        max-width: 36%;
    }

    .estimate-price img {
        width: 48px;
        height: 48px;
    }

    .estimation {
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    .estimation a {
        padding: 1rem 2rem;
    }

    .our-services {
        text-align: start;
        padding: 15rem 7rem 4rem;
        margin-top: 13rem;
    }

    .services h2 {
        font-size: 3rem;
        font-weight: 600;
    }

    .services p {
        font-size: 1rem;
        margin-top: 0.8rem;
        max-width: 57%;
        padding: 0;
    }

    .services-heading {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .get-in-touch {
        display: flex;
        gap: 0.5rem;
        border: 1px solid var(--bg-body);
        padding: 1rem;
    }

    .get-in-touch p {
        color: var(--bg-body);
        font-weight: 300;
    }

    .get-in-touch img {
        width: 19px;
        height: 19px;
    }

    .type-services {
        display: flex;
        margin-top: 2rem;
    }

    .background-bank img {
        width: 120px;
        height: 120px;
    }

    .background-bank {
        margin: 1rem 0 1.5rem;
        padding: 65px;
        display: inline-block;
    }

    .architecture {
        display: flex;
        gap: 2rem;
        max-width: 72%;
    }

    .architectural-design p {
        font-size: 1rem;
        font-weight: 300;
        margin-top: 0.5rem;
        max-width: 70%;
    }

    .architectural-design h3 {
        font-size: 2rem;
        padding-top: 2rem;
    }

    .architectural-design .drop-line {
        margin-top: 2.5rem;
        display: flex;
    }

    .architectural-design .drop-line p {
        background-color: var(--bg-details);
        font-family: 1rem;
        font-weight: 400;
        color: var(--white);
    }

    .paint-roller {
        display: none;
    }

    .sparkle .architectural-design {
        display: none;
    }

    .our-workflow {
        display: flex;
        flex-direction: row-reverse;
        gap: 4rem;
        padding: 8rem 4rem 0;
        align-items: center;
    }

    .work-explaining {
        max-width: 50%;
    }

    #h2-mobile {
        display: none;
    }

    #h2-desktop {
        display: block;
        text-align: start;
        font-size: 3.2rem;
    }

    .icons {
        justify-content: flex-start;
        gap: 2rem;
        margin-top: 5rem;
    }

    .bg-icon img {
        height: 30px;
        width: 30px;
        padding: 1.2rem;
        border-radius: 3rem;
    }

    .briefing {
        gap: 0.6rem;
        background-color: var(--icons);
        padding: 0.8rem 2.1rem 0.8rem 0.5rem;
        border-radius: 2.2rem;
    }

    .briefing img {
        padding: 0.8rem;
        border-radius: 1.5rem;
        height: 22px;
        width: 22px;
    }

    .briefing h3 {
        font-size: 1.4rem;
    }

    .explaining {
        margin-top: 7rem;
    }

    .explaining-what-you-need h2 {
        font-size: 1.9rem;
        max-width: 45%;
    }

    .explaining p {
        font-size: 1.2rem;
        margin-top: 2rem;
        max-width: 88%;
    }

    .explaining-what-you-need img {
        width: 60px;
        height: 60px;
    }

    .man-and-woman img {
        width: 100%;
        height: 630px;
        margin-top: 0rem;
        object-fit: cover;
    }

    .impacts {
        display: flex;
        padding: 7rem 6.5rem 5rem;
    }

    .impacts .get-in {
        display: flex;
    }

    .impacts-explaining {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .our-impacts {
        text-align: start;
    }

    .our-impacts h2 {
        font-size: 3rem;
        padding: 0rem;
        max-width: 70%;
    }

    .our-impacts p {
        font-size: 1.1rem;
        margin-top: 1rem;
        max-width: 65%;
    }

    .impacts-explaining .get-in {
        margin-bottom: 2rem;
    }

    .numbers {
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
        max-width: 50%;
    }

    .numbers-description {
        border-bottom: none;
        display: block;
        max-width: 45%;
        margin-top: 2rem;
    }

    .numbers-description-bd {
        display: block;
        max-width: 45%;
        margin-top: 2rem;
    }

    .numbers-description p {
        font-size: 1rem;
        margin: 0.8rem 0;
        max-width: 80%;
    }

    .numbers-description-bd p {
        font-size: 1rem;
        margin: 0.8rem 0;
        max-width: 80%;
    }

    .heading h3 {
        font-size: 2.5rem;
        font-weight: 600;
    }

    .heading h4 {
        margin-top: 1.5rem;
        font-weight: 700;
        font-size: 1.5rem;
    }

    .old-works {
        padding: 6rem 6rem;
    }

    .latest-work h2 {
        font-size: 4rem;
    }

    .latest-work p {
        font-size: 1.2rem;
        margin: 1rem 0;
        padding: 0 19rem;
    }

    .project-description h3 {
        font-size: 2.2rem;
    }

    .project-description p {
        font-size: 1rem;
        margin-top: 0.5rem;
    }

    .project-date p {
        font-size: 1rem;
    }

    .project-date img {
        width: 32px;
        height: 32px;
    }

    .works {
        margin-top: 5rem;
    }

    .project {
        margin-top: 1rem;
        padding: 3rem;
    }

    .old-works .get-in {
        margin-top: 5rem;
    }

    .financial-size {
        padding: 6rem 0 0;
    }

    .financial-size h2 {
        font-size: 3.2rem;
        padding: 0 20rem;
    }

    .financial {
        display: flex;
        margin-top: 3rem;
        gap: 3rem;
    }

    .financial-explaining {
        max-width: 50%;
    }

    .financial-info {
        margin-top: 0 2rem 0 0;
    }

    .financial-info p {
        font-size: 1.1rem;
        margin-top: 1rem;
    }

    .financial-topics {
        margin: 2rem 0 0 6rem;
        padding: 0 2rem 0 0;
    }

    .financial-topics h3 {
        font-size: 1.5rem;
    }

    .financial-personal img {
        width: 28px;
        height: 28px;
    }

    .financial-topics img {
        width: 28px;
        height: 28px;
    }

    .financial-desc {
        background-color: var(--icons);
        margin: 1.5rem 0 0 4rem;
        padding: 2rem;
    }

    .financial-desc h3 {
        font-size: 1.5rem;
    }

    .financial-desc p {
        max-width: 95.2%;
    }

    .financial-size .get-in {
        display: flex;
        justify-content: right;
        margin-top: 11rem;
    }

    #p-mobile {
        display: none;
    }

    #p-desktop {
        display: flex;
    }

    .home-design {
        margin-top: 0rem;
        margin-right: 6rem;
        text-align: start;
        padding: 0rem;
    }

    .home-design img {
        height: 642px;
        ;
        width: 100%;
    }

    .news {
        padding: 4rem 6rem 3.5rem;
    }

    .our-news {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 4rem;
    }

    .browse h2 {
        font-size: 3.5rem;
        max-width: 50%;
    }

    .browse {
        display: flex;
        align-items: flex-end;
        text-align: start;
        gap: 2rem;
        max-width: 70%;
    }

    .browse p {
        font-size: 1.2rem;
        margin-top: 0rem;
        max-width: 40%;
    }

    .see-all {
        text-align: center;
        margin-top: 0rem;
        margin-bottom: 1.3rem;
    }

    .see-all a {
        padding: 1rem 1.5rem;
        font-size: 1rem;
    }

    .main-articles {
        display: flex;
        margin-top: 6rem;
        gap: 2rem;
        justify-content: center;
    }

    .card {
        flex-basis: 33.33%;
    }

    .card p {
        font-size: 0.9rem;
        margin-top: 0.7rem;
    }

    .card h3 {
        margin: 1rem 0 1.7rem;
        font-size: 1.4rem;
    }

    .card a {
        font-size: 0.9rem;
    }

    .card img {
        height: 272px;
        width: 100%;
        margin-top: 0rem;
    }

    .costumer {
        margin-top: 4.5rem;
        padding: 5rem 4rem 5rem;
        position: absolute;
        width: 90%;
        left: 5%;
        right: 5%;
        box-sizing: border-box;
    }

    .costumer-say {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .costumer-photo {
        margin-top: 0rem;
    }

    .costumer-say a {
        padding: 1rem 1.5rem;
        font-size: 1rem;
    }

    .costumer-photo {
        max-width: 50%;
    }

    .costumer-photo img {
        width: 100%;
        height: 474px;
    }

    .costumer-say h2 {
        font-size: 3.5rem;
        padding: 0 0;
        margin: 0 0 0;
        max-width: 50%;
        text-align: start;
    }

    .costumer-feedback {
        display: flex;
        align-items: center;
        gap: 3rem;
        margin-top: 4.5rem;
    }

    .feedback {
        max-width: 50%;
    }

    .changi img {
        width: 147.48px;
        height: 40px;
        margin: 2.5rem 0;
    }

    .feedback-description h3 {
        font-size: 1.8rem;
    }

    .feedback-description p {
        font-size: 1.1rem;
        margin: 1.5rem 0 2rem;
        max-width: 89%;
    }

    .costumer-name {
        margin-top: 2rem;
    }

    .about-costumer h3 {
        font-size: 1.5rem;
    }

    .about-costumer p {
        font-size: 0.9rem;
        margin-top: 0.5rem;
    }

    .arrow-icons img {
        width: 52px;
        height: 52px;
    }

    .arrow-icons {
        gap: 1rem;
    }

    .realize-your-build {
        display: flex;
        justify-content: space-between;
        margin: 7rem 0 5rem;
    }

    .realize-your-build h2 {
        font-size: 3.5rem;
        max-width: 65%;
        font-weight: 600;
    }

    .realize-your-build .drop-line p {
        background-color: var(--font-color);
    }

    footer {
        padding: 40rem 8.5rem 1.5rem;
        margin-top: 44.5rem;
    }

    .top-footer {
        border-bottom: 1px solid var(--border-bottom);
        padding-bottom: 3rem;
    }

    .logo-footer {
        max-width: 10%;
    }

    .get-started {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2.5rem;
    }

    .get-started p {
        display: flex;
        font-weight: 300;
        font-size: 1rem;
    }

    .get-started a {
        font-size: 1rem;
        font-weight: 700;
        padding: 1rem 2rem;
    }

    .subscribe {
        padding-right: 0rem;
        margin-top: 0rem;
        max-width: 25%;
    }

    .subscribe h3 {
        font-size: 1.5rem;
        padding-right: 0rem;
    }

    .subscribe-contacts {
        display: flex;
        align-items: start;
        justify-content: space-between;
        margin-top: 3rem;
        gap: 10rem;
    }

    .contacts-desktop {
        display: flex;
        gap: 10rem;
        flex-wrap: wrap;
        font-family: var(--footer-desktop-font);
        font-weight: 300;
    }

    .services li {
        margin-top: 0rem;
        font-size: 1rem;
        color: var(--white-50);
        margin-top: 1rem;
    }

    .services h3 {
        font-size: 1.2rem;
        margin: 0 0;
        font-weight: 300;
        color: var(--white);
    }

    .services ul {
        list-style-type: none;
    }

    .contacts-mobile {
        display: none;
    }

    .license-mobile {
        display: none;
    }

    .license-social {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2rem;
    }

    .license-desktop {
        display: flex;
        font-family: var(--footer-desktop-font);
        gap: 2rem;
    }

    .social-medias {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 0rem;
        padding-right: 0rem;
    }

    .social-medias img {
        margin-bottom: 1.5rem;
        background-color: var(--bg-footer);
        padding: 1rem;
        border-radius: 0rem;
    }

    #facebook {
        width: 9.92px;
        height: 19.84px;
    }

    #twitter {
        width: 22px;
        height: 17.88px;
    }

    #instagram {
        width: 22px;
        height: 22px;
    }
}

@media (max-width: 1310px) {
    nav li {
        font-size: 0.9rem;
    }
    nav ul {
        gap: 1rem;
    }
    .explore {
        gap: 1rem;
    }
    .explore p {
        font-size: 0.9rem;
    }
}
